{
  "presets": ["next/babel"],
  "env": { "test": { "presets": ["env", "next/babel"] } },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"]
  ]
}
