{
  "presets": ["next/babel"],
  "env": { "test": { "presets": ["env", "next/babel"] } },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
