{
  "presets": ["next/babel"],
  "env": { "test": { "presets": ["env", "next/babel"] } },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@lib": "./src/lib",
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@config": "./src/config"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"]
  ]
}
